/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

/**
 * copyright 2023 codewithsadee
 */





/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/
:root {
    /**
      * COLORS
      */ 
    --primary: hsl(258, 57%, 76%); 
    --on-primary: hsl(253, 24%, 7%); 

    --background: hsl(270, 5%, 7%);
    --on-background: hsl(260, 32%, 93%);

    --surface: hsl(260, 5%, 12%);
    --on-surface: hsl(256, 17%, 88%);
    --on-surface-variant: hsl(257, 3%, 49%); 
    --on-surface-variant-2: hsl(260, 7%, 73%);

    --outline: hsl(260, 2%, 25%);

    --bg-aqi-1: hsl(120, 64%, 72%);
    --on-bg-aqi-1: hsl(120, 24%, 16%);
    --bg-aqi-2: hsl(55, 64%, 72%);
    --on-bg-aqi-2: hsl(54, 24%, 16%);
    --bg-aqi-3: hsl(36, 64%, 72%);
    --on-bg-aqi-3: hsl(36, 24%, 16%);
    --bg-aqi-4: hsl(0, 64%, 72%);
    --on-bg-aqi-4: hsl(0, 24%, 16%);
    --bg-aqi-5: hsl(330, 64%, 72%);
    --on-bg-aqi-5: hsl(330, 24%, 16%);

    --white: hsl(0, 0%, 100%);
    --white-alpha-4: hsla(0, 0%, 100%, 0.04);
    --white-alpha-8: hsla(0, 0%, 100%, 0.078);
    --black-alpha-10: hsla(0, 0%, 0%, 0.1);

    --gradient-1: linear-gradient(180deg, hsla(270, 5%, 7%, 0) 0%, hsla(270, 5%, 7%, 0.8) 65%, hsl(270, 5%, 7%) 100%);
    --gradient-2: linear-gradient(180deg, hsla(260, 5%, 12%, 0) 0%, hsla(260, 5%, 12%, 0.8) 65%, hsl(260, 5%, 12%) 100%);


    
    /**
      * TYPOGRAPHY
      */ 
    --ff-nunito-sans: 'Nunito Sans', sans-serif;

    --heading: 5.6rem;
    --title-1: 2rem;
    --title-2: 1.8rem;
    --title-3: 1.6rem;
    --body-1: 2.2rem;
    --body-2: 2rem;
    --body-3: 1.6rem;
    --label-1: 1.4rem;
    --label-2: 1.2rem;
    
    --weight-regular: 400;
    --weight-semiBold: 600;


    /**
      * SIZE
      */
    --header-height: 80px;

    
    /**
      * BOX SHADOW
      */ 
    --shadow-1: 0px 1px 3px hsla(0, 0%, 0%, 0.5);
    --shadow-2: 0px 3px 6px hsla(0, 0%, 0%, 0.4);


    
    /**
      * BORDER RADIUS
      */ 
    --radius-28: 28px;
    --radius-16: 16px;
    --radius-pill: 500px;
    --radius-circle: 50%;


    
    /**
      * TRANSITION
      */ 
    --transition-short: 100ms ease;
}





/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

/* basic reset */
*, 
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a, img, span, input, button {display: block}
li {list-style: none}
a {text-decoration: none; color:inherit;}
img {height: auto}
input, button {background: none; border: none; font: inherit; color: inherit}
input {width: 100%}


/* primary container reset */
html {
  font-family: var(--ff-nunito-sans);
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--on-background);
  font-size: var(--body-3);
  overflow: hidden;
}


/* pseudoelement reset */
:focus-visible {
  outline: 2px solid var(--outline);
  outline-offset: 2px;
}

::selection { background-color: var(--white-alpha-8); }

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--white-alpha-8);
  border-radius: var(--radius-pill);
}


/* other reset */
sup {vertical-align: top;}
sub {vertical-align: baseline;}






/*-----------------------------------*\
  #MATERIAL ICON
\*-----------------------------------*/
@font-face {
  font-family: "Material Symbols Rounded";
  font-style: normal;
  font-weight: 400;
  src: url(../font/material-symbol-rounded.woff2) format('woff2');
}

.m-icon {
  font-family: "Material Symbols Rounded";
  font-weight: normal;
  font-style: normal;
  font-size: 2.4rem;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  direction: ltr;
  font-feature-settings: "liga";
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  height: 1em;
  width: 1em;
  overflow: hidden;
}




/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/


/* REUSED STYLE: PAGE CONTAINER */
.container {
  width: 100%;
  max-width: 1600px;
  margin-inline: auto;
  padding: 16px;
}


/* REUSED STYLE: ICONS THAT ARE BUTTONS */
.icon-btn {
  width: 48px;
  height: 48px;
  display: grid;
  place-items: center;
  background-color: var(--white-alpha-4);
  border-radius: var(--radius-circle);
}


/* REUSED STYLE: HIGHLIGHT & CICULAR REVEAL FEATURE */
.has-state { position: relative;}
.has-state:hover {box-shadow: var(--shadow-1); background-color: var(--white-alpha-4);}
.has-state:is(:focus , :focus-visible) {box-shadow: none;}
.has-state::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  clip-path: circle(100% at 50% 50%);
  transition: var(--transition-short);
}
.has-state:is(:focus, :focus-visible)::before {
  background-color: var(--white-alpha-8);
  animation: ripple 200ms ease-in forwards
}

@keyframes ripple {
  0% {
    clip-path: circle(0% at center);
  }
  100% {
    clip-path: circle(100% at center);
  }
}

/* REUSED STYLE: PRIMARY BUTTON */
.btn-primary {
  background-color: var(--primary);
  color: var(--on-primary);
  border-radius: var(--radius-pill);
  display: flex;
  align-items: center;
  gap: 16px;
  height: 48px;
  line-height: 48px;
  max-width: max-content;
  padding-inline: 16px;
}

.btn-primary[disabled] {
  background-color: var(--white-alpha-4);
  color: var(--on-surface-variant);
  cursor: not-allowed;
}

.btn-primary[disabled]::before {display: none}


/* REUSED STYLE: FONT SIZE UTILITIES */

.heading { font-size: var(--heading); }
.title-1 { font-size: var(--title-1) }
.title-2 {
  font-size: var(--title-2);
  margin-block-end: 12px;
}
.title-3 { 
  font-size: var(--title-3);
  font-weight: var(--weight-semiBold);
}  
.label-1 {font-size: var(--label-1)}
.label-2 { font-size: var(--label-2) }
.body-1 { font-size: var(--body-1) }
.body-2 { 
  font-size: var(--body-2);
  font-weight: var(--weight-semiBold);
}
.body-3 { font-size: var(--body-3) }



/* REUSED STYLE: AIR QUALITY BADGE UTILITIES */
.aqi-1{
  background-color: var(--bg-aqi-1);
  color: var(--on-bg-aqi-1);
}

.aqi-2{
  background-color: var(--bg-aqi-2);
  color: var(--on-bg-aqi-2);
}

.aqi-3{
  background-color: var(--bg-aqi-3);
  color: var(--on-bg-aqi-3);
}

.aqi-4{
  background-color: var(--bg-aqi-4);
  color: var(--on-bg-aqi-4);
}

.aqi-5{
  background-color: var(--bg-aqi-5);
  color: var(--on-bg-aqi-5);
}



/* REUSED STYLE: CARD UTILITIES */

.card {
  background-color: var(--surface);
  color: var(--on-surface);
}

.card-lg {
  padding: 20px;
  border-radius: var(--radius-28);
}

.card-sm {
  padding: 16px;
  border-radius: var(--radius-16);
}



/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/



/* HEADER CONTAINERS */
.header .logo img { width: 150px;}
.header .btn-primary { padding-inline: 12px;}

.header .container,
.header-actions {
  display: flex;
  align-items: center;
}

.header .container{
  justify-content: space-between;
}

.header-actions { gap: 8px; }

.header-actions .text { display: none; }


/* SEARCH BOX UI: CIRCULAR REVEAL FUNCTIONALITY */
.search-box {
  position: fixed;
  inset: 0;
  z-index: 4;
  width: 100%;
  background-color: var(--surface);
  color: var(--on-surface);

  opacity: 0;
  visibility: hidden;
  clip-path: circle(10% at 70% 3%);
  transition: clip-path 200ms ease;
}

.search-box.active {
  opacity: 1;
  visibility: visible;
  clip-path: circle(120% at 70% 3%);
}


/* SEARCH BOX UI: LOADING ICON */
.search-input-box {
  position: relative;
}

.search-input-box::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;

  width: 24px;
  height: 24px;

  border: 3px solid var(--on-surface);
  border-left-color: transparent;
  border-radius: var(--radius-circle);

  animation: loading 500ms linear infinite ; 
  display: none;
}

.search-input-box.searching::before { display: block}

@keyframes loading {
  0% { transform: translateY(-50%) rotate(0); }
  100% { transform: translateY(-50%) rotate(1turn); }
}


/* SEARCH BOX UI: LAYOUT & STYLES */
.search-field {
  height: 80px;
  line-height: 80px;
  margin-inline-start: 54px;
  padding-inline-end: 16px;
  outline: none;
}

.search-field::-webkit-search-cancel-button {display: none}
.search-field::placeholder{color: var(--on-surface-variant)}

.search-input-box > span.leading-icon {display: none;}

.search-input-box .leading-icon {
  position: absolute;
  background-color: transparent;
  top: 50%;
  transform: translateY(-50%);
}

.search-box .search-list { 
  padding-block: 8px 16px; 
  border-block-start: 1px solid var(--outline);
  width: 100%;
}

.search-box .search-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  height: 56px;
  padding-inline: 16px 96px;
}

.search-box .search-item :is(.subtitle, .m-icon) {
  color: var(--on-surface-variant);
}

.search-box .search-item .item-link {
  position: absolute;
  inset: 0;
  box-shadow: none;
}





/*-----------------------------------*\
  #MAIN
\*-----------------------------------*/

main {
  height: calc(100vh - var(--header-height));
  height: calc(100svh - var(--header-height)); /* for mobile */
  overflow: hidden;
}

article.container {
  position: relative;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: 20px;
  height: 100%;
  overflow-y: overlay;
  overflow-y: auto;
}

article.container::-webkit-scrollbar-thumb {background-color: transparent;}

article.container:is(:hover, :focus, :focus-visible)::-webkit-scrollbar-thumb {background-color: var(--white-alpha-8);}

article.container::before {
  content: "";
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-image: var(--gradient-1);
  pointer-events: none;
}


.section:not(:last-child) {margin-bottom: 12px;}






/*-----------------------------------*\
  #CURRENT WEATHER
\*-----------------------------------*/
.current-weather-card .wrapper { 
  display: flex; 
  align-items: center; 
  gap: 8px; 
  margin-bottom: 12px;

}
.current-weather-card .weather-icon {margin-inline: auto;} 
.current-weather-card .body-3 {text-transform: capitalize;}

.current-weather-card .meta-list {
  margin-block-start: 16px; 
  padding-block-start: 16px; 
  border-block-start: 1px solid var(--outline)
}

.current-weather-card .meta-item {
  display: flex; 
  align-items: center; 
  gap: 8px; 
}

.current-weather-card .meta-item:not(:last-child) {margin-block-end: 12px;}

.current-weather-card .meta-text {color: var(--on-surface-variant);}





/*-----------------------------------*\
  #FORECAST
\*-----------------------------------*/
.forecast-card .card-item .wrapper {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--on-surface-variant-2)
}

.forecast-card .card-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.forecast-card .card-item:not(:last-child) {margin-block-end: 8px;}

.forecast-card .card-item p { 
  color: var(--on-surface-variant);
}




/*-----------------------------------*\
  #HIGHLIGHTS
\*-----------------------------------*/

.highlights .m-icon { font-size: 3.2rem;}

.highlights-list {
  display: grid;
  gap: 16px;
}

.highlights-list .card-sm {
  position: relative;
  background-color: var(--black-alpha-10);
}

.highlights-card .title-3 {
  color: var(--on-surface-variant);
  margin-block-end: 20px;
}

.highlights-card :is(.wrapper, .card-list, .card-item) {
  display: flex;
  align-items: center;
}

.highlights-card .wrapper {
  justify-content: space-between;
  gap: 16px;
}

.highlights-card .card-list {
  flex-grow: 1;
  flex-wrap: wrap;
  row-gap: 8px;
}

.highlights-card .card-item {
  width: 50%;
  justify-content: flex-end;
  gap: 4px;
}

.highlights-card .card-list .label-1 {
  color: var(--on-surface-variant);
}

.highlights .badge {
  position: absolute;
  top: 16px;
  right: 16px;
  padding: 2px 12px;
  border-radius: var(--radius-pill);
  font-weight: var(--weight-semiBold);
  cursor: help;
}

.highlights-card.two .card-item {
  justify-content: flex-start;
  flex-wrap: wrap;
  column-gap: 12px;
  row-gap: 16px;
}






/*-----------------------------------*\
  #HOURLY FORECAST
\*-----------------------------------*/

.slider-container {
  overflow-x: auto;
  margin-inline: -16px;
}

.slider-container::-webkit-scrollbar {display: none;}

:is(.slider-list, .slider-card) {
  display: flex;
  gap: 12px;
}

.slider-list:first-child {
  margin-block-end: 16px;
}

.slider-list::before,
.slider-list::after {
  content: "";
  min-width: 4px;
}

.slider-card { 
  min-width: 110px;
  flex: 1 1 100%;
  flex-direction: column;
  align-items: center;
  user-select: none;
}

.slider-card .body-3 {
  color: var(--on-surface-variant-2);
}





/*-----------------------------------*\
  #LOADING
\*-----------------------------------*/
.loading{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--background);
  /* display: grid; */
  place-items: center;
  z-index: 1;
  display: none;
}

.loading::before {
  content: "";
  width: 50px;
  height: 50px;
  border: 5px solid white;
  border-radius: var(--radius-circle);
  border-block-start-color: transparent;
  animation: loading 400ms linear infinite;
}


.loading.active {
  display: grid;
}


/*-----------------------------------*\
  #ERROR SECTION
\*-----------------------------------*/
.error-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: none;
  place-content: center;
  text-align: center;
  background-color: var(--background);
}

.error-modal .label-1 {
  margin-inline: auto;
  margin-block-start: 12px;
  padding: 8px 16px;
  border-radius: var(--radius-pill);
  font-weight: var(--weight-semiBold);
  width: fit-content;
}

.error-modal.active {
  display: grid;
}






/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/
.footer {
  display: none;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  align-items: center;
  margin-block-start: 24px;
  color: var(--on-surface-variant);
  text-align: center;
}

.fade-in.footer {
  display: flex;
}

.footer p:last-child {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4px;
}





/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

@media screen and (min-width: 768px) {

    /**
    * VARIABLES & UTILITIES
    */

    :root {
    --title-1: 2.6rem;
    --header-height: 96px;
    }
    .title-2 { margin-block-end: 16px;; }
    .card-sm { padding: 20px; }
    .card-lg { padding: 24px; }


    /**
    * HEADER
    */
    .header-actions .text { display: block; }
    .header-actions { gap: 16px; }
    .header .btn-primary { padding-inline: 16px;}



    /**
    * CONTAINERS
    */
    .container { padding: 24px }
    article.container { 
      grid-template-columns: 300px minmax(0, 1fr); 
      align-items: flex-start;
      gap: 24px;
    }
    article.container .content-left {
      position: sticky;
      top: 0;
    }
    .section:not(:last-child) {margin-block-end: 16px;}



    /**
    * CONTAINERS
    */
    .forecast-card .card-item:not(:last-child) {margin-block-end: 16px;}


    /**
      * HIGHLIGHTS UI
      */
    .highlights { margin-top: 0 }
    .highlights .m-icon {font-size: 3.6rem}
    .highlights-list { grid-template-columns: 1fr 1fr; }
    .highlights-card:nth-child(-n+2) {grid-column: span 2; height: 160px;}
    .highlights-card:nth-child(n+3) {height: 120px}
    .highlights-card.one .card-item {
      width: 25%;
      flex-direction: column-reverse;
      row-gap: 8px;
    } 
    .highlights .badge {
      top: 20px;
      right: 20px;
    }


    /**
      * HOURLY FORECAST UI
      */
    .slider-container { 
      margin-inline: 0px; 
      border-radius: var(--radius-16) 0 0 var(--radius-16);
    }
    .slider-list::before { display: none; }
    .slider-list::after { min-width: 12px; }
}




@media screen and (min-width: 1200px) {

  /**
  * VARIABLES & UTILITIES
  */
  :root {
    --header-height: 110px;
    --heading: 8rem;
    --title-1: 3.6rem;
    --title-2: 2rem;
  }
  .card-lg { padding: 36px; }
  .card-sm { padding: 28px; }
  

  /**
  * HEADER
  */
  .header {
    height: var(--header-height);
  }
  
  article.container { 
    padding: 25px;
    grid-template-columns: 360px minmax(0, 1fr);
  }
  .header .container {
    padding: 0 16px;
    height: 100%;
  }
  .header .logo img {width: 200px}
  .search-box .search-list {display: none}
  :is(.search-box, .search-box.active) {
    all: unset;
    position: relative;
    width: 500px;
    border-radius: var(--radius-28);
    background-color: var(--surface);
  }
  .search-box:hover,
  .search-box.active:hover {box-shadow: var(--shadow-1);}
  .search-box:focus-within,
  .search-box.active:focus-within,
  .search-box:focus-within .search-list.active:focus-within {box-shadow: var(--shadow-2);}
  .search-input-box > button.leading-icon {display: none;}
  .search-input-box > span.leading-icon { 
    display: block;
    transform: translateY(-50%) translateX(50%);
  }
  .search-field {
    height: 45px;
    line-height: 45px;
    margin-inline-start: 48px;
  }
  .search-box:focus-within:has(.search-list.active) { border-radius: var(--radius-28) var(--radius-28) 0 0;}
  .search-box:focus-within .search-list.active {
    position: absolute; 
    top: 100%;
    display: block;
    z-index: 1;
    max-height: 240px;
    overflow: auto; /* for firefox browsers */
    overflow: overlay;
    background-color: var(--surface);
    box-shadow: var(--shadow-1);
    border-radius: 0 0 var(--radius-28) var(--radius-28);
  }
  .search-box .search-list:empty {min-height: 120px;}
  .search-box .search-list::-webkit-scrollbar-button {height: 20px;}
  .header-actions .icon-btn {display: none}


    /**
    * HIGHLIGHTS UI
    */
    .highlights .m-icon {font-size: 4rem}
    .highlights-card:nth-child(-n+2) { height: 180px; }
    .highlights-card:nth-child(n+3) { height: 150px }
    .highlights .badge {
      top: 28px;
      right: 28px;
      padding: 4px 16px;
    }



}